@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.navbar {
    color: #18392B;
    font-weight: bold;
    padding: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    .brand {
        font-size: 30px;
        padding-bottom: 10px;
       
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        
 
        .link {
            color: #18392B ;
            text-decoration: none;
            transition: .5s;
            padding: 20px 20px;
            
            &:hover {
              
                background-color: #18392B;
                color: white;
               
            } 
 
        }

    } //links end
} // navbar emd

@media only screen and (min-width: 900px) {
    .navbar   {
        display: flex;
        justify-content: space-between;
        .links {
            border-top: none;
        }
    }    
} // navbar mq end


.splash {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    h1 {
        color:#18392B;
    }

    h3 {
        font-weight: lighter;
    }

    img {
        margin-top: 30px;
        height: 200px;
        width: auto;
        border-radius: 50%;
    }

} // splash end


@media only screen and (min-width: 900px) {
     .splash {
         h1 {
             font-size: 50px;
         }
     } 
} // splash mq end


.about {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #18392B;
    margin-top: 60px;
    
    color: white;
    h1 {
        padding-top: 30px;
    }

    p {
        line-height: 1.5;
        font-weight: lighter;
        padding: 30px;
        padding-top: 0px;
    
    }

} // about ending


@media only screen and (min-width: 900px) {
    .about  {
         p {
            width: 60vw;
            line-height: 2;
         }
    } 
} // about  mq end

.skills {
    color: #18392B;

    h1 {
        margin-top: 30px;
    }
    img {
        height: 100px;
    }

    h2 {
        font-weight: bold;
        margin-top: 30px;
    }

    p {
        margin-top: 10px;
        line-height: 1.5;
         
    }

    .design , .front-end {
        text-align: center;
        padding: 40px;
        padding-top: 0px;
    }
} // skills end


@media only screen and (min-width: 900px) {
    .skills  {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          padding: 0px 20vw;
          h1 {
            margin-top: 60px;
        }
          
    } 
} // skills mq end

.portfolio-header {
    color: white;
    text-align: center;
    background-color: #18392B;
    h1 {
        padding: 30px;
    }
} // header end



.click-image-text {
    margin: 30px 0px;
    text-align: center;
}

.portfolio {
    margin-top: 70px;
 
    .portfolio-container {
        display: grid;
        justify-content: center;
        margin-bottom: 40px;
    }
    .image-side {
        text-align: center;
        .image-header {
            font-size: 30px;
            font-weight: bold;
            color: #18392B;
            text-align: center;
        } 

        a {
            position: relative;
            text-decoration: none;
         
        }

        img {
            margin-top: 30px;
            width: 80vw;
            border: 1px solid #222;
             
        }

        .project-links-wrapper {
            display: block;
            text-align: center;
            margin-top: 30px;
            .project-link {
               font-size:17px;
               padding-bottom: 10px;
               border-bottom: 1px solid #222;
               margin-right: 20px;
               transition: .5s;
               color: #18392B;
               &:hover {
                   background-color: #222;
                   color: white;
                   padding: 10px 30px;
               }
            }
        }
    } // img-side end

    .description-side {
        display: flex;
        justify-content: center;
        h1 {
            margin-top: 30px;
            font-size: 30px;
            text-align: center;
            color: #18392B;
        }
        p {
            margin-top: 30px;
            text-align: center;
            max-width: 400px;
            line-height: 1.5;
            margin-left: 20px;
        }

        .ul-parent {
            text-align: center;
         }

        .ul-parent > ul {
             display: inline-block;
        }

        ul {
            list-style-type: square;
        }
        
        li:nth-of-type(1) {
            margin-top: 0px;
        }
        li {
            text-align: left;
            margin-top: 10px;
        }

    }// description-side end

} // portfolio end


@media only screen and (min-width: 1000px) {

    .portfolio {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .image-side {
            img {
                width: 90%;
            }
        }
    }

    .portfolio-container {
        margin-bottom: 20px;
    }
  
} 


.contact-info {
    margin: 20px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #18392B;

    .contact-header {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .contact-entries {
        text-align: left;
    }

    .contact-entry{
        margin-top: 20px;
        font-size: 25px;
    }

    span {
        font-weight: bold;
    }
}

 

@media only screen and (min-width: 1000px) {
    .form-container .form .form-control{
          input {
                width: 270px;
          }

          textarea {
              width: 200%;
          }
    } 
} // mq form end

footer {
     background-color: #18392B;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 250px;
     h1 {
         padding-top: 30px;
     } 

     p{
        font-size: 17px;
     }

     a, a:visited {
         color: white;
         text-decoration: none;
     }
     
     h5 {
        padding-bottom: 10px;
        border-bottom: 2px solid white;
        width: 100px;
        text-align: center;
     } 

} // footer end

 